<ion-header>
  <ion-toolbar>
    <ion-title>
      LAYERS STORE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button> 
    <ion-tab-button tab="collections">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Collections</ion-label>
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="heart"></ion-icon>
      <ion-label>Wishlist</ion-label>
      <ion-badge>10</ion-badge>
    </ion-tab-button> 
    <ion-tab-button>
      <ion-icon name="cart"></ion-icon>
      <ion-label>Cart</ion-label>
      <ion-badge>10</ion-badge>
    </ion-tab-button> 
    <ion-tab-button>
      <ion-icon name="options"></ion-icon>
      <ion-label>Options</ion-label>
      <ion-badge>10</ion-badge>
    </ion-tab-button> 
  </ion-tab-bar>
</ion-tabs>