<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides [options]="slideOpts" pager="true"> 
    <ion-slide>
      <ion-img src="https://images.thesouledstore.com/public/theSoul/uploads/slider/20190926110619.jpg"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="https://cdn.shopify.com/s/files/1/1002/7150/collections/03_Thin-Glow-in-the-Dark---Tees-Launch_2500x.jpg?v=1568379134"></ion-img>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>

</ion-content>
